@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

:root{
    --neon: rgba(43, 255, 64, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* border: 1px solid red; */
}

.container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-image: url(../photos/bg.png);
    background-size: cover;
}

header{
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    margin: 20px;
    align-items: center;
}

nav .logo{
    flex-grow: 1;
    padding-left: 20px;
}

nav .logo p{
    color: var(--neon);
    font-family: 'Playfair Display', serif !important;
    font-size: clamp(1rem, 3.6vw, 4rem);
    font-weight: 600;
}

nav .nav-link{
    width: 80%;
}

nav .nav-link ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}

nav .nav-link ul li{
    list-style-type: none;
}

nav .nav-link ul li a{
    color: white;
    font-size: clamp(0.8rem, 1.6vw, 1rem);
    font-weight: 600;
    text-decoration: none;
    /* cursor: pointer; */
}

nav .nav-link ul li a:hover{
    color: var(--neon);
}

nav .nav-link ul li .nav-active{
    color: var(--neon);
}

/* content */

main{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

main .content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main .content .text-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    padding: 20px;
}

main .content .karna-space{
    color: var(--neon);
    font-family: 'Playfair Display', serif !important;
    /* font-size: 6vw; */
    font-size: clamp(2rem, 6.9vw, 9rem);
    font-weight: 600;
}

main .content .description{
    color: rgba(229, 229, 229, 0.7);
    font-size: 18px;
}

main .content button{
    padding: 8px 40px;
    border-radius: 6px;
    background-color: var(--neon);
    font-weight: 600;
    font-size: 16px;
    border: 1px solid transparent;
}

main .content button:hover{
    background-color: transparent;
    border: 1px solid var(--neon);
    color: var(--neon);
}

/* card */

main .card{
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px;
    row-gap: 30px;
}

main .card .card-component{
    width: 284px;
    height: 377px;
    border: 1px solid white;
}

main .card .card-component img{
    width: 100%;
}

.card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 5px;
    background-color: rgba(21, 21, 21, 0.6);
    border-radius: 0px 0px 8px 8px;
}

.card-body .title{
    color: white;
    font-size: 24px;
}

.card-body small{
    color: white;
    font-size: 8px;
    font-weight: 300;
}

.card-body p{
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 10px;
}


/* article */

main .blog{
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    row-gap: 35px;
}

main .blog .blog-component{
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    /* height: max-content; */
}

main .blog .blog-component:nth-child(1), main .blog .blog-component:nth-child(4){
    max-width: 732px;
}

main .blog .blog-component:nth-child(2), main .blog .blog-component:nth-child(3){
    flex-direction: column-reverse;
    max-width: 441px;
}

main .blog .blog-component .body-blog{
    display: flex;
    flex-direction: column;
    gap: 15px; /* penting */
    padding: 20px 10px 10px 20px;
    color: white;
    background-color: rgba(21, 21, 21, 0.6);
}

main .blog .blog-component .body-blog p{
    font-size: 12px;
}

main .blog .blog-component .img-blog{
    /* border: 1px solid yellow; */
    height: max-content;
}

.blog-two .body-blog h1, .blog-three .body-blog h1{
    text-align: center;
}
.blog-two .img-blog img, .blog-three .img-blog img{
    width: 100%;
}

main .blog .blog-component .body-blog .blog-paragraf{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 12px;
}

main .blog .blog-component .body-blog button{
    background-color: var(--neon);
    max-width: 110px;
    border-radius: 5.59px;
    padding: 5px;
    font-size: 11.19px;
    font-weight: 600;
    border: 1px solid transparent;
}

main .blog .blog-component .body-blog button:hover{
    border: 1px solid var(--neon);
    background-color: transparent;
    color: var(--neon);
}

@media only screen and (max-width: 600px) {
    .blog-component{
        display: flex;
        flex-direction: column-reverse;
    }

    .img-blog img{
        width: 100%;
    }
}






/* main .article-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .article-wrapper .article{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 95%;
}

main .article-wrapper .article .article1{
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    width: 60%;
}
main .article-wrapper .article .article2{
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    flex-direction: column-reverse;
    width: 35%;
}
main .article-wrapper .article .article3{
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    flex-direction: column-reverse;
    width: 35%;
}
main .article-wrapper .article .article4{
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    width: 60%;
}

main .article .text-article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: white;
    background-color: rgba(21, 21, 21, 0.6);
}

main .article .text-article p{
    font: 12px;
}

main .article .text-article button{
    background-color: var(--neon);
    border: 1px solid transparent;
    border-radius: 6px;
    max-width: 120px;
    padding: 5px;
    font-weight: 600;
}

main .article .text-article button:hover{
    background-color: transparent;
    border: 1px solid var(--neon);
    color: var(--neon);
} */

/* footer */

footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(21, 21, 21, 0.6);
    flex-wrap: wrap;
}

/* footer bagde */
footer .badge{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

footer .badge p{
    font-family: 'Playfair Display', serif !important;
    color: var(--neon);
    font-weight: 600;
    font-size: 48px;
}


/* footer link */
footer .link-footer-wrapper{
    display: flex;
    gap: 50px;
    align-items: center;
    flex-grow: 2;
    justify-content: center;
    flex-wrap: wrap;
}

footer .link-footer-wrapper .link-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .link-footer-wrapper .link-footer p{
    font-weight: 500;
    font-size: 18px;
    color: var(--neon);
}

footer .link-footer-wrapper .link-footer .nav-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .link-footer-wrapper .link-footer .nav-footer a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}

footer .contact{
    flex-grow: 1;
    padding: 15px;
}

footer .contact form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .contact form label{
    font-weight: 500;
    font-size: 14px;
    color: white;
}

footer .contact form textarea{
    border: 2px solid var(--neon);
    border-radius: 6px;
    background-color: transparent;
    padding: 8px;
    resize: none;
    max-width: 341px;
}

footer .contact form textarea:focus{
    border: 2px solid white;
    color: white;
}

footer .contact form button{
    color: white;
    border: 1px solid var(--neon);
    border-radius: 6px;
    background-color: transparent;
    max-width: 95px;
    padding: 8px;
    font-weight: 500;
    font-size: 12px;
}

footer .contact form button:hover{
    color: black;
    background-color: var(--neon);
}